<div class="disclosure budget-content">
    <p>Editorial Note: Opinions expressed here are the author's alone, not those of any bank, credit card issuer, airlines
        or hotel chain, vendors or companies, and have not been reviewed, approved, or otherwise endorsed by any of these entities.
    </p>
    <br>
    <p>Disclaimer: Content on this page represents one individual’s experiences and viewpoints, and your experience may differ. 
        The owner of this site is not an investment advisor, financial planner, nor a legal or tax professional. Articles here are of 
        an opinion and general nature and should not be relied upon for individual circumstances. Research and obtain professional 
        advice regarding all credit decisions before attempting to duplicate any of the techniques described on this website.
    </p>
</div>

<div class="copyright">
    <p>&copy; {{ currentYear }} Arthur Figueiredo. All rights reserved.</p>
</div>