<section class="budget-items-section">
    <div class="budget-items-container">
        <div class="income-column">
            <h1 *ngIf="isBudget">Income</h1>
            <h1 *ngIf="!isBudget">Assets</h1>
            <div class="budget-items" *ngIf="isBudget">
                <div *ngFor=" let item of budgetItems">
                    <app-budget-item-card
                    *ngIf="item.amount >= 0"
                    [item]="item"
                    (xButtonClick)="onDeleteButtonClicked(item)"
                    (cardClick)="onCardClicked(item)"
                    style="display: block; margin-bottom: 20px;"></app-budget-item-card>
                </div>
                
            </div>
            <div class="budget-items" *ngIf="!isBudget">
                <div *ngFor=" let item of networthItems">
                    <app-budget-item-card
                    *ngIf="item.amount >= 0"
                    [item]="item"
                    (xButtonClick)="onDeleteButtonClicked(item)"
                    (cardClick)="onCardClicked(item)"
                    style="display: block; margin-bottom: 20px;"></app-budget-item-card>
                </div>
                
            </div>
            <section class="add-item-section">
                <div class="add-item-container">
                    <app-add-item-form style="padding: 20px;" (formSubmit)="addItemPos($event)"></app-add-item-form>
                </div>
            </section>
        </div>
        <div class="expenses-column">
            <h1 *ngIf="isBudget">Expenses</h1>
            <h1 *ngIf="!isBudget">Liabilities</h1>
            <div class="budget-items" *ngIf="isBudget">
                <div *ngFor=" let item of budgetItems">
                    <app-budget-item-card
                    *ngIf="item.amount < 0"
                    [item]="item"
                    (xButtonClick)="onDeleteButtonClicked(item)"
                    (cardClick)="onCardClicked(item)"
                    style="display: block; margin-bottom: 20px;"
                    [isPos]="false"></app-budget-item-card>
                </div>
                
            </div>
            <div class="budget-items" *ngIf="!isBudget">
                <div *ngFor=" let item of networthItems">
                    <app-budget-item-card
                    *ngIf="item.amount < 0"
                    [item]="item"
                    (xButtonClick)="onDeleteButtonClicked(item)"
                    (cardClick)="onCardClicked(item)"
                    style="display: block; margin-bottom: 20px;"
                    [isPos]="false"></app-budget-item-card>
                </div>
                
            </div>
            <section class="add-item-section">
                <div class="add-item-container">
                    <app-add-item-form style="padding: 20px;" (formSubmit)="addItemNeg($event)"></app-add-item-form>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="total-budget-section">
    <h2 [ngClass]="{ 'red': totalBudget < 0, 'green': totalBudget > 0 }" *ngIf="isBudget">{{ totalBudget | currency}}</h2>
    <h2 [ngClass]="{ 'red': totalNetworth < 0, 'green': totalNetworth > 0 }" *ngIf="!isBudget">{{ totalNetworth | currency}}</h2>
</section>