<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose(); setTitle('Arthur Figueiredo | Home')">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="budget" (click)="onSidenavClose(); setTitle('Arthur Figueiredo | Budget Calculator')">
    <mat-icon>account_balance_wallet</mat-icon><span class="nav-caption">Budget Calculator</span>
  </a>
  <a mat-list-item routerLink="networth" (click)="onSidenavClose(); setTitle('Arthur Figueiredo | Networth Calculator')">
    <mat-icon>paid</mat-icon><span class="nav-caption">Net Worth Calculator</span>
  </a>
  <a mat-list-item routerLink="credit-cards" (click)="onSidenavClose(); setTitle('Arthur Figueiredo | Credit Card Picks')">
    <mat-icon>credit_card</mat-icon> <span class="nav-caption">Credit Card Picks</span>   
  </a>
  <a mat-list-item routerLink="bank-accounts" (click)="onSidenavClose(); setTitle('Arthur Figueiredo | Bank Account Picks')">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Bank Account Picks</span>
  </a>
  <!-- <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Calculators</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <ul>
      <li>
        <a routerLink="budget" (click)="onSidenavClose(); setTitle('Arthur Figueiredo | Budget Calculator')">Budget</a>
      </li>
      <li>
        <a routerLink="networth" (click)="onSidenavClose(); setTitle('Arthur Figueiredo | Networth Calculator')">Networth</a>
      </li>
    </ul>
  </mat-menu> -->
</mat-nav-list>