@import '../../main-styles.scss';

.top-bar {
    width: 100%;
    max-width: 1080px;
    height: 68px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    // background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

    //Center texted
    // justify-content: center;
    align-items: center;

    h1 {
        font-size: 1.75em;
        font-family: 'Lato';
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $dark;
    }
}