<div class="custom-banner-image">
    <div class="banner-overlay"></div>
    <div class="banner-text">
        <div class="page-center">
            <div>
                <h1 id="quote">“Financial freedom is less about financials and more about freedom.”</h1>
                <p id="author">Manoj Arora</p>
            </div>
        </div>
    </div>
  </div>

<div class="budget-content">
    <h1>What is Net Worth & How to Calculate Yours</h1>
    <p>Net Worth if the result of you subtracting your liabilities (loans, credit card balances, mortgage, etc.) from your 
        assets (your house, checking and savings account balances, investment balance, etc.)</p>
    <p>Knowing your net worth is important so you can know where you stand financially. Even though it is interesting 
        to compare your net worth to the average person, please understand <strong>the goal is to always to try and be better than your 
        previous self, not others.</strong>
    </p>
</div>

<div class="top-bar budget-content">
    <h1>Net Worth Calculator</h1>
</div>

<app-budget-item-list [isBudget]="isBudget"></app-budget-item-list>

<div class="budget-content table-responsive">
    <h1>This is the average and median net worth in the U.S by age</h1>
    <br>
    <p>Remember, you should only strive to be better than your previous self, but knowing the average and median for your 
        age group in the U.S can help you have an idea of where you stand right now.
    </p>
    <table class="table table-striped table-hover">
        <caption><a href="https://www.bankrate.com/personal-finance/average-net-worth-by-age/">Data used from the Bankrate.com article</a></caption>
        <thead class="thead-light">
            <tr>
                <th scope="col">Age</th>
                <th scope="col">Average</th>
                <th scope="col">Median</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20s</td>
                <td>$56,984</td>
                <td>$6,500</td>
            </tr>
            <tr>
                <td>30s</td>
                <td>$174,002</td>
                <td>$32,600</td>
            </tr>
            <tr>
                <td>40s</td>
                <td>$457,783</td>
                <td>$93,460</td>
            </tr>
            <tr>
                <td>50s</td>
                <td>$998,416</td>
                <td>$152,400</td>
            </tr>
            <tr>
                <td>60s</td>
                <td>$1,121,534</td>
                <td>$221,200</td>
            </tr>
        </tbody>
    </table>
</div>

