@import '../../main-styles.scss';

.top-bar {
    width: 100%;
    max-width: $page-width;
    height: 68px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;

    align-items: center;
}

table {
    text-align: center;

    th {
        font-size: x-large;
    }

    td {
        font-size:large;
    }
}

.custom-banner-image {
    background-image: url('../../assets/networth-banner.jpg');
}