<div class="root">
    <div class="budget-item" (click)="onCardClick()" [ngClass]="{ 'income': item.amount >= 0, 'expense': item.amount < 0}">
        <div class="description">
            <p>{{ item.description }}</p>
        </div>
        <div class="amount">
            <span *ngIf="isPos">{{ item.amount | currency}}</span>
            <span *ngIf="!isPos">{{ item.amount*-1 | currency}}</span>
        </div>

        <div class="x-icon-button" (click)="onXButtonClick()"></div>
    </div>
</div>