<div class="custom-banner-image">
  <div class="banner-overlay"></div>
  <div class="banner-text">
      <div class="page-center">
          <div>
              <h1 id="quote">“A budget is telling your money where to go instead of wondering where it went.”</h1>
              <p id="author">John Maxwell</p>
          </div>
      </div>
  </div>
</div>

<div class="budget-content">
    <h1 id="budget-first-p">Why Should You Have a Budget?</h1>
    <p>As the quote on the banner says, a budget enables you to know where your money is going 
      instead of leaving you scratching your head wondering where it went.</p>
    <p>Before any major financial decision, you need to assess your budget and run the numbers. If you already are on a routine of actively keeping 
      track of your expenses, great! One less thing to do.
    </p>
    <h1>How To Get Started?</h1>
    <p>To have a general idea of what your spending looks like, feel free to play with the calculator below. It would 
      also be a good idea to open up your bank statement for a month and input every penny coming in and leaving 
      your account.
    </p>
    <p>I am personally a fan of doing this manually, that way I know exaclty what, when, and how much something was. There 
      are other options (linked below) that keeps track of this automatically for you, in case you don't have a whole lot of 
      time.
    </p>
</div>

<div class="top-bar budget-content">
    <h1>Budget Calculator</h1>
</div>

<app-budget-item-list [isBudget]='isBudget'></app-budget-item-list>
<div class="budget-content">
    <h1>Here Are a Few More In-Depth Options:</h1>
    <div class="component-menu-list">
        <ul class="item-list">
          <li>
            <a href="https://mint.intuit.com/">
              <span class="title"><img src="../../assets/mint.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
          <li>
            <a href="https://www.youneedabudget.com/">
              <span class="title"><img src="../../assets/ynab.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
          <li>
            <a href="https://www.personalcapital.com/">
              <span class="title"><img src="../../assets/Personal-Capital-Logo.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title"><img src="../../assets/Excel.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
        </ul>
    </div>
</div>
