<app-banner-intro></app-banner-intro>

<div class="budget-content">
    <h1>Why Should You Have a Budget?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac aliquam odio. 
        Nulla nec convallis purus. Quisque libero odio, condimentum eu arcu non, molestie fermentum augue. 
        Praesent sit amet sollicitudin urna, quis accumsan enim. Aliquam consectetur purus at arcu rutrum, 
        et ornare dui hendrerit. Phasellus ac lectus at nunc cursus faucibus. Integer hendrerit fermentum lacus, 
        sit amet congue mauris porttitor nec. Vestibulum pharetra dictum metus, nec auctor nulla fringilla at. 
        Etiam gravida suscipit quam, in commodo est fringilla eu. Sed porttitor hendrerit mi, pellentesque blandit orci. 
        Ut vel massa et dui rutrum elementum ut pulvinar lacus. Vivamus massa dui, hendrerit nec nibh eget, tempus mollis ante.</p>
    <h1>How To Get Started?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac aliquam odio. 
        Nulla nec convallis purus. Quisque libero odio, condimentum eu arcu non, molestie fermentum augue. 
        Praesent sit amet sollicitudin urna, quis accumsan enim. Aliquam consectetur purus at arcu rutrum, 
        et ornare dui hendrerit. Phasellus ac lectus at nunc cursus faucibus. Integer hendrerit fermentum lacus, 
        sit amet congue mauris porttitor nec. Vestibulum pharetra dictum metus, nec auctor nulla fringilla at.</p>
</div>

<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>

<app-budget-item-list [isBudget]='isBudget'></app-budget-item-list>
<div class="budget-content">
    <h1>Here Are a Few More In-Depth Options:</h1>
    <div class="component-menu-list">
        <ul class="item-list">
          <li>
            <a href="#">
              <span class="title"><img src="../../assets/mint.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title"><img src="../../assets/ynab.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title"><img src="../../assets/Personal-Capital-Logo.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="title"><img src="../../assets/Excel.png" alt="money icon" class="card-icon"></span>
            </a>
          </li>
        </ul>
    </div>
</div>
