@import '../../main-styles.scss';
.budget-content {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 25px;
}

.top-bar {
    width: 100%;
    max-width: 1080px;
    height: 68px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    // background: linear-gradient(75deg, rgb(214, 180, 247), rgb(173, 203, 231));

    //Center texted
    // justify-content: center;
    align-items: center;

    h1 {
        font-size: 1.75em;
        font-family: 'Lato';
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $dark;
    }
}

.total-budget-section {
    display: flex;
    height: 250px;
    max-width: 1080px;
    border-top: 2px solid $dark;

    //Center texted
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;

    h2 {
        font-family: 'Lato';
        font-weight: 300;
        font-size: 58px;
        color: $dark;

        &.green {
            color: lighten($green, 12%);
        }

        &.red {
            color: lighten($red, 12%);
        }
    }
}

.add-item-section {
    display: flex;

    //Center texted
    justify-content: center;
    align-items: center;

    .add-item-container {
        width: 1080px;
    }
}

.card-icon:nth-child(1) {
    width: 300px;
}

.card-icon:nth-child(2) {
    width: 300px;
}

.card-icon:nth-child(3) {
    width: 300px;
}

.card-icon:nth-child(4) {
    width: 300px;
}

.item-list li a span{
    display: block;
    margin: auto;
}

.item-list li:nth-child(1) {
    a {
      background: linear-gradient(75deg, rgba(0, 148, 99, 0.774), rgba(0, 128, 145, 0.774)); 
    }
  }
  
  .item-list li:nth-child(2) {
    a {
      background: linear-gradient(75deg,rgba(0, 128, 145, 0.774), rgba(0, 116, 116, 0.774));
    }
  }
  
  .item-list li:nth-child(3) {
    a {
      background: linear-gradient(75deg,rgba(0, 116, 116, 0.774), rgba(0, 104, 165, 0.774));
    }
  }
  
  .item-list li:nth-child(4) {
    a {
      background: linear-gradient(75deg,rgba(0, 104, 165, 0.774), rgba(0, 131, 136, 0.774));
    }
  }
  
  .item-list li:nth-child(5) {
    a {
      background: linear-gradient(75deg,rgb(133, 3, 165), rgb(158, 1, 158));
    }
  }