@import '../../main-styles.scss';


.top-bar {
  width: 100%;
  max-width: $page-width;
  height: 68px;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;

  align-items: center;
}

.total-budget-section {
    display: flex;
    height: 250px;
    max-width: $page-width;
    border-top: 2px solid $dark;

    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;

    h2 {
        &.green {
            color: lighten($green, 12%);
        }

        &.red {
            color: lighten($red, 12%);
        }
    }
}

.add-item-section {
    display: flex;

    justify-content: center;
    align-items: center;

    .add-item-container {
        width: $page-width;
    }
}

.card-icon:nth-child(1) {
  width: 300px;
}

.card-icon:nth-child(2) {
  width: 300px;
}

.card-icon:nth-child(3) {
  width: 300px;
}

.card-icon:nth-child(4) {
  width: 300px;
}

.item-list li a span{
  display: block;
  margin: auto;
}

.item-list li:nth-child(1) {
    a {
      background: linear-gradient(75deg, rgba(0, 148, 99, 0.774), rgba(0, 128, 145, 0.774)); 
    }
  }
  
  .item-list li:nth-child(2) {
    a {
      background: linear-gradient(75deg,rgba(0, 128, 145, 0.774), rgba(0, 116, 116, 0.774));
    }
  }
  
  .item-list li:nth-child(3) {
    a {
      background: linear-gradient(75deg,rgba(0, 116, 116, 0.774), rgba(0, 104, 165, 0.774));
    }
  }
  
  .item-list li:nth-child(4) {
    a {
      background: linear-gradient(75deg,rgba(0, 104, 165, 0.774), rgba(0, 131, 136, 0.774));
    }
  }
  
  .item-list li:nth-child(5) {
    a {
      background: linear-gradient(75deg,rgb(133, 3, 165), rgb(158, 1, 158));
    }
  }

  @media only screen and (max-width: 800px) {
    .card {
      max-height: 250px;
      // min-width: 460px;
      flex-direction: row;
    }

    .component-menu-list {
      .item-list{
        display: flex;
        justify-content: center;

        padding: 0;
      }
    }

    #budget-first-p {
      padding-top: 10px;
    }
  
  }

  .component-menu-list {
    .item-list{
      padding: 0;
    }
  }

  .custom-banner-image {
    background-image: url('../../assets/budget-banner.jpg');
  }