<div class="custom-banner-image">
    <div class="banner-overlay"></div>
    <div class="banner-text">
        <div class="page-center">
            <div>
                <h1 id="quote">Credit Card Offers</h1>
            </div>
        </div>
    </div>
</div>
<div class="budget-content">
    <h1><strong>Why credit cards?</strong></h1>
    <p>Credit cards are like a chain saw. If you know how to use them, they can be an incredible tool. If you don't,
        you may lose an arm playing with it.</p>
    <p>The advantages of credit card use are in a wide spectrum. It can be as simple as to build your credit,
        or it could be to enable access to some great perks and access to more comfort, specially when it comes 
        to traveling. Whatever the reason is, <strong>please understand what you're doing and don't spend money you 
            weren't already going to</strong>, otherwise this would all be a waste of money.</p>
    <p>Below are three of our personal top picks, but understand you should do your own research to pick 
        something that fits you. Not every case is the same when it comes to credit card perks and rewards.
    </p>
    <p>Some of the links below are affiliate or referral links. If you choose to get one of these products,
         you aren't required to apply through these links, but it would be greatly appreciated.
    </p>
<!-- </div> -->
<section class="cards">
    <div class="card">
        <div class="card-image"><img src="../../assets/chaseCFF.png" alt=""></div>
        <div class="card-content">
            <div class="card-title">Chase Freedom Flex</div>
            <div class="card-text">
                <h2>Rewards Rate</h2>
                <ul>
                    <li>5% - Chase Travel Portal</li>
                    <li>5% - Rotating Categories</li>
                    <li>3% - Dining & Drugstores</li>
                    <li>&nbsp;</li>
                </ul>
                <h2>Other Key Benefits</h2>
                <ul>
                    <li>Cashback is paid as Chase Ultimate Rewards Points, which can be used for greater value 
                        through transfers partners, if you get one of the Sapphire cards later on.
                    </li>
                </ul>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>Intro Bonus</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <td>Spending Requirement for Bonus</td>
                            <td>$500 in 3 months</td>
                        </tr>
                        <tr>
                            <td>Annual Fee</td>
                            <td>$0</td>
                        </tr>
                        <tr>
                            <td>APR</td>
                            <td>0% for the first 15 months, then 14.99%-23.74%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="https://www.referyourchasecard.com/18g/6BMU39STBP" class="card-readmore">Learn More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="../../assets/AmexPlatinum.png" alt=""></div>
        <div class="card-content">
            <div class="card-title">American Express Platinum</div>
            <div class="card-text">
                <h2>Rewards Rate</h2>
                <ul>
                    <li>5X - Airfare (booked directly w/ airline)</li>
                    <li>5X - Travel (through AmexTravel portal)</li>
                </ul>
                <br>
                <h2>Other Key Benefits</h2>
                <ul>
                    <li>- Marriot & Hilton hotel status</li>
                    <li>- Airport lounge access</li>
                    <li>- Amex Fine Hotels & Resorts + The Hotel Collection</li>
                    <li>- Various statement credits for different merchants</li>
                    <br>
                </ul>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>Intro Bonus</td>
                            <td>100-125K MR points</td>
                        </tr>
                        <tr>
                            <td>Spending Requirement for Bonus</td>
                            <td>$6,000 in 6 months</td>
                        </tr>
                        <tr>
                            <td>Annual Fee</td>
                            <td>$695</td>
                        </tr>
                        <tr>
                            <td>APR</td>
                            <td>15.99%-22.99%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="http://refer.amex.us/ARTHUFcqTE?xl=cp106r" class="card-readmore">Learn More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image"><img src="../../assets/boaCashRewards.png" alt=""></div>
        <div class="card-content">
            <div class="card-title">Bank of America Customized Cash Rewards</div>
            <div class="card-text">
                <h2>Rewards Rate</h2>
                <ul>
                    <li>3% - One category of your choice (gas, online shopping, dining, travel, drug stores, or home improvement/furnishings).</li>
                    <li>2% - grocery stores and wholesale clubs.</li>
                    <li>&nbsp;</li>
                </ul>
                <h2>Other Key Benefits</h2>
                <ul>
                    <li>Bank of America has a boost for credit cards earning through their
                        Preferred Rewards program. It does require you to have a substantial amount of
                        money with Bank of America.
                    </li>
                    <br>
                </ul>
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>Intro Bonus</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <td>Spending Requirement for Bonus</td>
                            <td>$1000 in 3 months</td>
                        </tr>
                        <tr>
                            <td>Annual Fee</td>
                            <td>$0</td>
                        </tr>
                        <tr>
                            <td>APR</td>
                            <td>13.99%-23.99%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a href="https://secure.bankofamerica.com/apply-credit-cards/public/icai-single/#/info/" class="card-readmore">Learn More</a>
        </div>
    </div>
</section>

<!-- <div class="budget-content"> -->
    <br>
    <h1><strong>Here are a few other personal recommendations:</strong></h1>
<!-- </div> -->
<section class="cards">
    <div class="card-bottom" *ngFor=" let creditCards of creditCards">
        <div class="card-image-bottom"><img src="{{ creditCards.imgPath }}" alt="{{ creditCards.name }}"></div>
        <div class="card-content">
            <div class="card-title">{{ creditCards.name }}</div>
            <a href="{{ creditCards.appLink }}" class="card-readmore">Learn More</a>
        </div>
    </div>
</section>
</div>