<div class="icon-set">
    <div class="icon-item">
        <h1>Create a Budget</h1>
        <p>Fugiat iusto eveniet quaerat aliquam quas similique expedita, molestias fugiat expedita.</p>
    </div>
    <div class="icon-item">
      <h1>Set Goals</h1>
      <p>Ipsum dolor sit amet consectetur adipisicing elit. Cumque repellat non molestias fugiat</p>
    </div>
    <div class="icon-item last">
      <h1>Stick To The Plan</h1>
      <p>Cumque repellat non molestias fugiat iusto eveniet quaerat aliquam quas similique expedita.</p>
    </div>
    <div class="clearfix"></div>
</div>
<div class="component-menu-list">
  <ul class="item-list">
    <li>
      <a href="budget">
        <span class="title"><img src="../../assets/money.png" alt="money icon" class="card-icon"></span>
        <span class="item"> Budget Calculator</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="title"><img src="../../assets/piggy-bank.png" alt="money icon" class="card-icon"></span>
        <span class="item"> Networth Calculator</span>
      </a>
    </li>
    <!-- <li>
      <a href="#">
        <span class="title"><img src="../../assets/retirement.png" alt="money icon" class="card-icon"></span>
        <span class="item"> Retirement Calculator</span>
      </a>
    </li> -->
     <li>
       <a href="#">
        <span class="title"><img src="../../assets/credit.png" alt="money icon" class="card-icon"></span>
        <span class="item"> Credit Cards Picks </span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="title"><img src="../../assets/bank.png" alt="money icon" class="card-icon"></span>
        <span class="item"> Bank Account Picks </span>
      </a>
    </li>
  </ul>
</div>