@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import '../../main-styles.scss';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Nunito', sans-serif;

  &:focus {
    outline: 0;
  }
}


//TEXT BOX

/* MIXIN */
$breakpoints: (
  'small':  767px,
  'medium': 820px,
  'large':  1200px
) !default;
@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
$primary-color: #19D4DE;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,900');

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.icon-set {
    display: block;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    padding-top: 50px;
    padding-bottom: 75px;
    .icon-item {
      display: block;
      width: 100%; 
      float: left;
      margin-bottom: 2.5em;
      @include breakpoint (medium) {
        width: 33%;
        margin-bottom:0px;
        border-right: 1px solid #ccc;
      }
      .icon-container {
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: $primary-color;
        color: #fff;
        text-align: center;
        font-size: 70px; 
        .lnr {
            display: block;
            padding-top: 26px;
            &:nth-child(1) {
              background-image: url('../../assets/financial-statement.png');
              background-repeat: no-repeat;
              background-size:cover
            }
        }
      }
      h1, p  {
        padding: 0 50px;
        color: #545454;
        margin:0px;
      }
      h1 {
         margin: 1em 0 .25em;
         color: #3d3d3d;
         font-size:24px;
         letter-spacing:3px;
      }
      p {
        font-size:18px;
        font-weight: 300;
        line-height:26px;
      }
    }
  .icon-item.last {
    border-right: none;
  }
  .icon-item:nth-of-type(2) .icon-container {
    background: darken($primary-color, 15%);
  }
  .icon-item:nth-of-type(3) .icon-container {
    background: darken($primary-color, 30%);
  }
}
.clearfix {
  clear: both;
}

.item-list li:nth-child(1) {
  a {
    background: linear-gradient(75deg, rgba(0, 0, 136, 0.774), rgb(76, 0, 255)); 
  }
}

.item-list li:nth-child(2) {
  a {
    background: linear-gradient(75deg,rgb(76, 0, 255), rgb(0, 0, 192));
  }
}

.item-list li:nth-child(3) {
  a {
    background: linear-gradient(75deg,rgb(0, 0, 192), rgb(79, 1, 124));
  }
}

.item-list li:nth-child(4) {
  a {
    background: linear-gradient(75deg,rgb(79, 1, 124), rgb(133, 3, 165));
  }
}

.item-list li:nth-child(5) {
  a {
    background: linear-gradient(75deg,rgb(133, 3, 165), rgb(158, 1, 158));
  }
}